<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2"><a href="/"><img src="/images/Logo.png" class="img-responsive" ></a></div>
    <div class="col-lg-5 col-md-5 col-sm-5" id="p2">Pakistan's Largest MarketPlace</div>
    {{#if user}}
    
       {{#each stores}}
          <a class="dropdown-item col-6 col-md-4 p-2" href="/{{this.storeName}}">
            {{this.storeName}}
          </a>
          {{/each}}

      <div class="col-lg-2 col-md-3 col-sm-2" id="btn1"><a href="/dashboard"><button id="btn-1">My Account</button></a><br><br><input type="search" name="search" id="search12"></div>
      <div class="col-lg-3 col-md-3 col-sm-3" id="btn2"><a href="/ideas/add"><button id="btn-2">Submit an Ad</button></a><br><br><a href="/search"><input type="button" id="search" name="search" value="Search"></a></div>     
      <div class="border" id="search-results">
        </div>            
    
    {{else}}

       {{#each stores}}
          <a class="dropdown-item col-6 col-md-4 p-2" href="/{{this.storeName}}">
            {{this.storeName}}
          </a>
          {{/each}}
          
      <div class="col-lg-2 col-md-3 col-sm-2" id="btn1"><a href="/users/login"><button href="/users/login" id="btn-1">Login</button></a><br><br><input type="search" name="search" onkeyup="showResults(this.value)" id="search12"></div>
      <div class="col-lg-3 col-md-3 col-sm-3" id="btn2"><a href="/users/register"><button id="btn-2">Register</button></a><br><br><a href="/search"><button id="search" name="search">Search</button></a></div>
      <div class="border" id="search-results">
        </div> 
    {{/if}}   

  </div><!-- /.row -->
  <hr>            
</div><!-- /.container -->