<div class="card card-body">
  <h3>Video Idea</h3>
  <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{idea.title}}" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
        <select id="category" class="form-control" name="category" value="{{idea.category}}" >
          <option>property</option>
          <option>vehicles</option>
          <option>electronics</option>
          <option>books & sports</option>
          <option>jobs</option>
          <option>buisness</option>
          <option>beauty</option>
          <option>animals</option>
        </select>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>{{idea.details}}</textarea>
    </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="{{idea.name}}" required>
        </div>
        <div class="form-group">
            <label for="Phone">Phone:</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" value="{{idea.phone}}" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city" name="city" value="{{idea.city}}" required>
        </div>
        <div class="form-group">
            <label for="Price">Price:</label>
            <input type="number" class="form-control" id="price" placeholder="Enter price" name="price" value="{{idea.price}}" required>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>